
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dumpert Downloader - Download Dumpert Video's Gratis</title>
    <meta name="description" content="Download makkelijk video's van Dumpert met onze gratis Dumpert Downloader. Plak de URL en download meteen!">
    <meta name="keywords" content="Dumpert Downloader, Dumpert video download, Dumpert video opslaan, download Dumpert">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="title">
        <h1>Dumpert Downloader</h1>
        <p>Wil je een Dumpert-video downloaden? Super simpel! Plak de link hieronder en klik op 'Submit'. Binnen no-time heb je je video op je apparaat.</p>
    </div>
    <br>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="explaination">
        <h2>Hoe werkt het?</h2>
        <p>Het is echt niet ingewikkeld. Volg gewoon deze stappen:</p>
    </br>
        <ol>
            <li>Ga naar <a href="https://www.dumpert.nl/" target="_blank" rel="noopener noreferrer">Dumpert.nl</a> en zoek de video die je wilt downloaden.</li>
            <li>Kopieer de link uit je browserbalk.</li>
            <li>Plak de link in het veld hierboven.</li>
            <li>Klik op de knop en download de video. Klaar!</li>
        </ol>
        <h2>Waarom deze Dumpert Downloader?</h2>
        <p>Geen gedoe, geen installaties, gewoon snel je favoriete Dumpert-filmpjes opslaan. Gratis en makkelijk. Lekker toch?</p>

        <h2>Gaat er iets mis?</h2>
        <p>Laat het mij weten via een <a href="https://github.com/thijsvanloef/dumpert-video-downloader/issues" target="_blank" rel="noopener noreferrer">issue op github</a>!</p>

    </div>
</body>
<footer>
    <p>Check de broncode op <a href="https://github.com/thijsvanloef/dumpert-video-downloader" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
    <p><a href="https://github.com/sponsors/thijsvanloef" target="_blank" rel="noopener noreferrer">Steun mij en help met de hostingkosten</a></p>
    <p>Niet officieel verbonden met <a href="https://www.dumpert.nl/" target="_blank" rel="noopener noreferrer">dumpert.nl</a> of DT MEDIA B.V. Gebruik op eigen risico!</p>
</footer>
</html>
