
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dumpert Downloader - Download Dumpert Video's Gratis</title>
    <meta name="description" content="Download eenvoudig video's van Dumpert met onze gratis Dumpert Downloader. Plak de URL en download direct!">
    <meta name="keywords" content="Dumpert Downloader, Dumpert video download, Dumpert video opslaan, download Dumpert">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="title">
        <h1>Dumpert Downloader</h1>
        <p>Vul een dumpert url in het veld hieronder in, en druk op submit! (ja het is echt zo makkelijk!)</p>
    </div>
    <br>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<footer>
    <p>Bekijk de broncode op <a href="https://github.com/thijsvanloef/dumpert-video-downloader" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
</footer>
</html>
